$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -20px;
  font-size: 16px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 30px 0;

  .form-input {
    background: none;
    color: $main-color;
    font-size: 16px;
    padding-left: 5px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 6px;
    z-index: 2;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
